.my-gallery .image-gallery-image {
  height: 40vh;     /* alto que tú quieras */
  max-height: 500px;
  min-height: 300px;
  object-fit: cover; /* cover, contain, fill */
}
@media (40rem <= width ) {
  .my-gallery .image-gallery-image {
    height: 45vh;
  }
}

@media (48rem <= width ) {
  .my-gallery .image-gallery-image {
    height: 50vh;
  }
}

@media (64rem <= width ) {
  .my-gallery .image-gallery-image {
    height: 60vh;
    max-height: 600px;
  }
}