.swiper-slide{
  display: flex;
  justify-content: center;
  align-items: center;
}

.swipper-details .mySwiper .swiper-slide img{
  width: 100%;
  height: 75vh;
  max-height: 700px;

}

.mySwiper .swiper-slide img {
  height: 45vh;
  max-height: 500px;
  min-height: 300px;
  object-fit: cover;
  display: block;
}

@media (40rem <= width ) {
  .mySwiper .swiper-slide img {
    height: 50vh;
  }
}

@media (48rem <= width ) {
  .mySwiper .swiper-slide img {
    height: 55vh;
  }
}

@media (64rem <= width ) {
  .mySwiper .swiper-slide img {
    height: 60vh;
    max-height: 600px;
  }
}
